@{
    ViewBag.Title = "About";
}

<body class="mainbody">
    <img class="car-animation" width="4%"src="~/Content/themes/base/images/Car-animation.png" />
    <img class="col-sm-4" id="about-pic" width="100%" src="~/Content/themes/base/images/Aboutpage.png" />   
    <p class="col-sm-8" id="aboutus">Here at the <span class="keywords">Software Craftsmanship Guild</span> we create <span class="keywords">experiences</span>.<br />That is what we have to offer our customers.<br /> The cars we sell here are not "used", they are <span class="keywords">experienced</span>.<br /> Our cars have <span class="keywords">history</span> and a <span class="keywords">nostalgic</span> value that cannot be met by just any car.</p>
</body>
