@{
    ViewBag.Title = "Home Page";
}

<div class="image">
    <img id="mainimage" src="~/Content/themes/base/images/RoadPhoto.jpg" />
    <h2 id="homeh2"><span>Software Craftmanship Guild<span class='spacer'></span><br /><span class='spacer'></span>Cars With Experience</span></h2>
</div>
<body class="mainbody">

</body>